a{
    color: aliceblue;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .col {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .col img {
    margin-top: 8px;
    vertical-align: middle;
  }
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }