<!-- <p>view-employee works!</p> -->
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-dark text-center m-4">View Employee</h3>
            <p style="text-align:justify">
                Employee management is the process by which employers ensure workers perform their jobs to the best of
                their abilities so as to achieve business goals.
                It typically entails building and maintaining healthy relationships with employees, as well as
                monitoring their daily labor and measuring progress.
            </p>
        </div>
    </div>
    <!-- form and image -->
    <div class="container">
        <div class="row">
            <!-- form/list -->
            <div class="col-6">
                <!-- <pre>{{empId | json}}</pre>
                <pre>{{employee | json}}</pre>
                <pre>{{roleId}}</pre>
                <pre>{{roleName}}</pre> -->
                <h4 class="text-center m-4 text-success">Employee Details</h4>
                <ul class="list-group mt-3">
                    <li class="list-group-item">Employee Code : {{employee.emp_code}} </li>
                    <li class="list-group-item">Name : {{employee.name}}</li>
                    <li class="list-group-item">Gender : {{employee.gender}}</li>
                    <li class="list-group-item">Dob : {{employee.dob}}</li>
                    <li class="list-group-item">Email : {{employee.email}}</li>
                    <li class="list-group-item">Phone : {{employee.phone}}</li>
                    <li class="list-group-item">Salary : {{employee.salary}}</li>
                    <!-- <li class="list-group-item">photo : {{employee.photo}}</li> -->
                    <li class="list-group-item">Role : {{roleName}}</li>
                </ul>
                <a routerLink="/" class="btn btn-success my-5">Go Back</a>
            </div>
            <!-- image  -->
            <div class="col-6 p-5">
                <img class="image-icon ms-5" [src]="employee.photo" alt="" width="300px" height="300px">
            </div>
        </div>
    </div>
</div>