<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-dark text-center m-4">Add Employee</h3>
            <p style="text-align:justify">
                Employee management is the process by which employers ensure workers perform their jobs to the best of
                their abilities so as to achieve business goals.
                It typically entails building and maintaining healthy relationships with employees, as well as
                monitoring their daily labor and measuring progress.
            </p>
        </div>
    </div>
    <!-- form and image -->
    <div class="container">
        <!-- <pre>{{employee | json}}</pre> -->
        <div class="row">
            <!-- form  -->
            <div class="col-6">
                <form class="border border-2 rounded-5">
                    <!-- <input  [(ngModel)]="employee.id" name="employeeId" type="text" placeholder="Enter Employee Id" class="form-control mb-2">  -->
                    <input  [(ngModel)]="employee.emp_code" name="employeeId" type="text" placeholder="Enter Employee Code" class="form-control mb-2">
                    <input [(ngModel)]="employee.name" name="employeename" type="text" placeholder="Enter Name" class="form-control mb-2">
                    <input [(ngModel)]="employee.gender" name="employeegender" type="text" placeholder="Enter Gender" class="form-control mb-2">
                    <input [(ngModel)]="employee.dob" name="employeedob" type="date" placeholder="Enter Dob" class="form-control mb-2">
                    <input [(ngModel)]="employee.email" name="employeeemail" type="text" placeholder="Enter Email Id" class="form-control mb-2">
                    <input [(ngModel)]="employee.phone" name="employeephone" type="text" placeholder="Enter Mobile No." class="form-control mb-2">
                    <!-- <input type="text" placeholder="Enter Title" class="form-control mb-2"> -->
                    <input [(ngModel)]="employee.salary" name="employeesalary" type="text" placeholder="Enter Salary" class="form-control mb-2">
                    <input [(ngModel)]="employee.photo" name="employeephoto" type="text" placeholder="Enter Photo" class="form-control mb-2">
                    <select [(ngModel)]="employee.roleId" name="employeerole" class="form-control">
                        <option value="select"></option>
                        <option value="{{role.id}}" *ngFor="let role of allRoles">{{role.name}}</option>
                    </select>
                    <input (click)="addEmployee()" type="button" value="Create" class="btn btn-success mt-3">
                    <a routerLink="/" class="btn btn-danger mt-3" style="float: right;">Close</a>
                </form>
            </div>
            <!-- image  -->
            <div class="col-6 p-5">
                <img class="image-icon ms-5" [src]="employee.photo" alt="" width="100%">
            </div>
        </div>
    </div>
</div>
